body{
  background-color: #061930;
  color: #FFFAD5;
  font-family: 'Century Gothic', sans-serif;

}

nav{
  text-align: right;
  padding: 5em 0em 2em 0em;
  text-transform: uppercase;
}

header .row {
  position: fixed;
  background-color: #061930;
  z-index: 1;
}

.whiteOut {
  color: #0A2547;
}

.logo {
  padding-top: 2em
}

.first-background {
  background-image: url("../imgs/main_beer2.jpg");
  min-width: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top;
  height: 38em;
}

.first {
  padding: 4em 0em;
}

.second-background {
  background-image: url("../imgs/drink_local.jpg");
  min-width: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top;
  height: 38em;
}

.second {
  padding: 4em 0em;
}

.jimmys {
  width: 30em;
  /*padding-left: 2.5em;*/
  /*padding-top: 3em;*/
}

.badJimmy {
  /*width: 40em;*/
}

/*.row p{
  margin auto;
}*/
.container {
  max-width: 1600px;
}

.fremontbackground {
  background-image: url("../imgs/freemontbrewing.jpg");
  min-width: 100%;
  background-size: cover;
  background-attachment: relative;
  background-repeat: no-repeat;
  background-position: top;
  height: 38em;
}
.jimmysbackground {
  background-image: url("../imgs/BadJimmys.jpg");
  min-width: 100%;
  background-size: cover;
  background-attachment: relative;
  background-repeat: no-repeat;
  background-position: top;
  height: 38em;
}

.georgetownbackground {
  background-image: url("../imgs/georgetown.jpg");
  min-width: 100%;
  background-size: cover;
  background-attachment: relative;
  background-repeat: no-repeat;
  background-position: top;
  height: 38em;
}


.ghostfishbackground {
  background-image: url("../imgs/ghostfish.jpg");
  min-width: 100%;
  background-size: cover;
  background-attachment: relative;
  background-repeat: no-repeat;
  background-position: top;
  height: 38em;
}

.hilliardsbackground {
  background-image: url("../imgs/hilliards.jpg");
  min-width: 100%;
  background-size: cover;
  background-attachment: relative;
  background-repeat: no-repeat;
  background-position: top;
  height: 38em;
}


.nakedcitybackground {
  background-image: url("../imgs/nakedcity.jpg");
  min-width: 100%;
  background-size: cover;
  background-attachment: relative;
  background-repeat: no-repeat;
  background-position: top;
  height: 38em;
}

.twobeersbackground {
  background-image: url("../imgs/twobeers.jpg");
  min-width: 100%;
  background-size: cover;
  background-attachment: relative;
  background-repeat: no-repeat;
  background-position: top;
  height: 38em;
}

.pikebrewingbackground {
  background-image: url("../imgs/pikebrew.jpg");
  min-width: 100%;
  background-size: cover;
  background-attachment: relative;
  background-repeat: no-repeat;
  background-position: top;
  height: 38em;
}

.stoupbackground {
  background-image: url("../imgs/stoup.jpg");
  min-width: 100%;
  background-size: cover;
  background-attachment: relative;
  background-repeat: no-repeat;
  background-position: top;
  height: 38em;
}


.macandjacksbackground {
  background-image: url("../imgs/MacJack.jpg");
  min-width: 100%;
  background-size: cover;
  background-attachment: relative;
  background-repeat: no-repeat;
  background-position: top;
  height: 38em;
}












  /*SITING IMAGES :

  Main_beer:
  https://www.google.com/search?q=beer+local&biw=1428&bih=771&source=lnms&tbm=isch&sa=X&ved=0ahUKEwiX5vP06u3JAhWoGqYKHR-QDUIQ_AUIBygC&dpr=0.9#q=beer+local&tbm=isch&tbs=isz:l&imgrc=aeRkUPGQjBFxNM%3A

  Main_beer2:
   https://www.google.com/search?q=beer+local&biw=1428&bih=771&source=lnms&tbm=isch&sa=X&ved=0ahUKEwiX5vP06u3JAhWoGqYKHR-QDUIQ_AUIBygC&dpr=0.9#q=beer+local&tbm=isch&tbs=isz:l&imgrc=7dSgX1nfSRFcRM%3A*/
